Django==5.0.2
djangorestframework==3.14.0
django-cors-headers==4.3.1
gunicorn==23.0.0
whitenoise==6.11.0
mysqlclient==2.2.4


asgiref==3.11.0
sqlparse==0.5.0
pytz==2023.3

pymysql==1.1.0

python-decouple==3.8
dj-database-url==2.1.0

whitenoise==6.6.0

packaging==23.2
